{{#link-to "index"}}Home{{/link-to}} |
{{#link-to "about"}}About{{/link-to}} |
{{#link-to "contact"}}Contact{{/link-to}}

{{#each location-list as |location|}}
<p>
  test
</p>
    {{location.city}}
{{/each}}
