<div class="container">
  <header class="jumbotron">
    {{nav-bar location-list=locationModel}}
    <h1>Pulled Pork Blog</h1>
  </header>
  {{outlet}}
  <footer>
    By Charles Ewel and Sebastian Prokuski
  </footer>
</div>
